body{
   
    background-image: url(backGround.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     margin: 0px;
}
#clock-container{
    display: flex;
     justify-content: center;
   
   align-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    color: rgb(244, 203, 0);
}